<footer class="container border-top border-dark">

    <div class="socials">
        <i class="fab fa-twitter fa-lg" aria-hidden="true"></i> <i class="fab fa-instagram fa-lg" aria-hidden="true"></i> <i class="fab fa-youtube fa-lg" aria-hidden="true"></i> <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
    </div>
    <p><i class="far fa-copyright" aria-hidden="true"></i> HOUSEMANIA <i class="fas fa-home"></i> 2021</p>
    <p>BY PERE VILLANUEVA <a href="https://github.com/perevill">
        <i class="fab fa-github"></i></a></p> 
    
</footer>