<app-menu></app-menu>

<div class="container my-3">

  <app-header [title]="'Listado de ' + strTitleSingular"
    >
  </app-header>


<div class="row justify-content-between my-3">
    <div class="col-md text-start">
      <h6>{{ strFilteredMessage }}</h6>
    </div>
    <div class="col-md text-center">
      <form>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i>
              </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'Filtro de ' + strTitlePlural }}"
            placeholder="Search"
            (keyup)="onKeyUpFilter($event)"
            [(ngModel)]="strFilter"
            name="buscar"
            aria-label="Small"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>
      </form>
      <a [routerLink]="['/zona/create']" type="button" class="btn btn-success mb-2 mt-5">
        <i class="fas fa-plus"></i> Añadir nueva zona
    </a>
    </div>
    <div class="col-md text-end">
      <h4 class="text-muted">{{ nTotalElements }} {{ strTitlePlural }}</h4>
    </div>
  </div>
  
  <div class="row justify-content-between">
    <div class="col-md text-start">
      <nav aria-label="pagination">
        <ul class="pagination">
          <li
            class="page-item"
            aria-current="page"
            *ngFor="let p of barraPaginacion"
            [ngClass]="{ active: page + '' == p }"
          >
            <a class="page-link" (click)="page = +p; jumpToPage()" href="#">{{
              p
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="col-md text-center">
      <ng-content select="header"></ng-content>
    </div>
  
    <div class="col-md text-end">
      <div class="dropdown mb-3">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Registros por página: {{ pageSize }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" (click)="pageSize = 10; getPage()">10</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="pageSize = 50; getPage()">50</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="pageSize = 100; getPage()">100</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="pageSize = 1000; getPage()">1000</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md table-responsive-md">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr class="text-center align-middle">
            <th (click)="doSetOrder('id')">
              ID
              <i
                class="fas fa-arrow-up"
                *ngIf="currentSortField == 'id' && currentSortDirection == 'asc'"
              ></i>
              <i
                class="fas fa-arrow-down"
                *ngIf="currentSortField == 'id' && currentSortDirection == 'desc'"
              ></i>
            </th>
            <th (click)="doSetOrder('nombre')">
              Nombre
              <i
                class="fas fa-arrow-up"
                *ngIf="
                  currentSortField == 'nombre' && currentSortDirection == 'asc'
                "
              ></i>
              <i
                class="fas fa-arrow-down"
                *ngIf="
                  currentSortField == 'nombre' && currentSortDirection == 'desc'
                "
              ></i>
            </th>
            <th *ngIf="mode">
               Comarca
            </th>
            <th> Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of aZonas" class="align-middle">
            <td class="text-end">{{ fila.id }}</td>
            <td>{{ fila.nombre }}</td>
            <td *ngIf="mode" style="text-align: center">
                <button class="btn btn-outline-secondary btn-sm">
                  {{ fila.comarca.nombre }}
                  
                </button>
              </td>
            
            <td class="text-center">
              
              
              <div class="btn-group btn-group-sm" role="group" *ngIf="mode">
                <button
                  type="button"
                  class="btn btn-success"
                  [routerLink]="['/zona/view/' + fila.id]"
                >
                  <i class="fas fa-eye"></i>
                </button>
                <button
                  *ngIf="usuario.tipousuario.id === 1"
                  type="button"
                  class="btn btn-warning"
                  [routerLink]="['/zona/edit/' + fila.id]"
                >
                  <i class="fas fa-pen"></i>
                </button>
                <button
                  *ngIf="usuario.tipousuario.id === 1"
                  type="button"
                  class="btn btn-danger"
                  [routerLink]="['/zona/delete/' + fila.id]"
                >
                  <i class="fas fa-trash"></i>
                </button>
  
                <!-- 
                <ng-container *ngTemplateOutlet="toolTemplate; context: { $implicit: fila }"></ng-container>
                -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-footer></app-footer>